section {
  width: 29%;
  float: left;
  margin: 2% 2%;
  text-align: center;
  border-style: solid;
  background-color: #42385f;
  color: red;
}
.clear {
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
}
